<!DOCTYPE html>
<html id="ng-app" ng-app="koodohub">
<head lang="en">
  <meta charset="UTF-8">
  <title>Koodo Hub</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/koodohub.css"/>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-ui-router.min.js"></script>
  <script src="js/angular-resource.min.js"></script>
  <script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
  <script src="js/services.js"></script>
  <script src="js/koodohub.js"></script>
  </head>
<body>
  <div ng-include="'header.html'"></div>
  <div class="container">
    <div ng-controller="MainController">
      <alert ng-repeat="message in messages" type="{{message.type}}" close="closeAlert($index)">
        <div ng-repeat="actualMessage in message.msgs">{{actualMessage}}</div></alert>
      <div ui-view></div>
    </div>
    <!--<div ng-include="'member_home.html'"></div>-->
    <div ng-include="'footer.html'"></div>
  </div>
</body>
</html>