<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

  <context:annotation-config />

  <!--
    SPRING SECURITY SETUP
  -->

  <bean id="authenticationManager" class="com.koodohub.security.KoodoAuthenticationManager">
  </bean>

  <bean id="unauthorizedEntryPoint" class="com.koodohub.security.UnauthorizedEntryPoint" />

  <security:global-method-security secured-annotations="enabled"
  authentication-manager-ref="KoodoAuthenticationManager" proxy-target-class="true"></security:global-method-security>

  <security:http
      realm="Protected API"
      use-expressions="true"
      auto-config="false"
      create-session="stateless"
      entry-point-ref="unauthorizedEntryPoint"
      authentication-manager-ref="authenticationManager">

    <!--<security:custom-filter ref="authenticationTokenProcessingFilter" position="FORM_LOGIN_FILTER" />-->
    <!--<security:intercept-url pattern="/rest/user/authenticate" access="permitAll" />-->
    <!--<security:intercept-url method="GET" pattern="/rest/news/**" access="hasRole('user')" />-->
    <!--<security:intercept-url method="PUT" pattern="/rest/news/**" access="hasRole('admin')" />-->
    <!--<security:intercept-url method="POST" pattern="/rest/news/**" access="hasRole('admin')" />-->
    <!--<security:intercept-url method="DELETE" pattern="/rest/news/**" access="hasRole('admin')" />-->
  </security:http>

  <!--<bean id="unauthorizedEntryPoint" class="net.dontdrinkandroot.example.angularrestspringsecurity.rest.UnauthorizedEntryPoint" />-->

  <!--<bean class="net.dontdrinkandroot.example.angularrestspringsecurity.rest.AuthenticationTokenProcessingFilter" id="authenticationTokenProcessingFilter">-->
    <!--<constructor-arg ref="userDao" />-->
  <!--</bean>-->

</beans>