html {
  overflow-y: scroll;
}

@font-face {
  font-family: "DooDah";
  src: url("../vendor/fonts/KBZipaDeeDooDah.ttf");
}

@font-face {
  font-family: "apex-book";
  src: url("../vendor/fonts/apex-book.ttf");
}

body {
  margin-top: 50px;
  -webkit-font-smoothing: antialiased;
  font-family: apex-book,sans-serif;
  font-size: 2rem;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.navbar-default .navbar-brand {
  font-size: 3rem;
  font-weight: bold;
  color: limegreen;
}

/*a.tooltip {*/
  /*position: relative;*/
/*}*/
/*a.tooltip > div {*/
  /*display: none;*/
  /*position: absolute;*/
  /*bottom: 100%;*/
  /*left: 50%;*/
  /*margin-left: -150px;*/
  /*width: 300px;*/
/*}*/

.checkbox {
  margin-top: -20px;
  margin-bottom: 10px;
}

.checkbox span {
  margin-left: 20px;
  /*margin-bottom: -10px;*/
  font-weight: normal;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*.navbar-brand {*/
  /*font-family: "DooDah";*/
/*}*/

#logo {
  font-family: "DooDah";
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  /*color: rgb(180,227,145);*/
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#error_explanation {
  color: #f00;
}

#error_explanation.ul {
  list-style: none;
  margin: 0 0 18px 0;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

aside section {
  padding: 10px 0;
  border-top: 1px solid #eaeaea;
}

aside section:first-child {
  border: 0;
  padding-top: 0;
}

aside section span {
  display: block;
  margin-bottom: 3px;
  line-height: 1;
}

aside section h1 {
  font-size: 1.4em;
  text-align: left;
  letter-spacing: -1px;
  margin-bottom: 3px;
  margin-top: 0px;
}

fieldset.setting-border {
  border: 1px groove #ccc !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
}

legend.setting-border {
  width:inherit; /* Or auto */
  padding:0 10px; /* To give a bit of padding on the left and right */
  border-bottom:none;
  /*font-size: 1.2em !important;*/
  /*font-weight: bold !important;*/
  /*text-align: left !important;*/
}

.members {
  list-style: none;
  margin: 0;
}
.members li {
  overflow: auto;
  padding: 10px 0;
  border-top: 1px solid #eaeaea;
}
.members li:last-child {
   border-bottom: 1px solid #eaeaea;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center;
}
/*.upload-drop-zone.drop {*/
  /*color: #222;*/
  /*border-color: #222;*/
/*}*/
.upload-drop-zone button{
  padding: 0;
  border: none;
  background: none;
}

.upload-drop-zone.file-button{
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  overflow: hidden;
  /*display:inline;*/
}

.add-project-file-frame {
  /*display: table;*/
  margin: 8px;
  height: 200px;
  width: 180px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px 0px #a2958a;
  padding: 6px;
  float: left;
  text-align: center;
  vertical-align: middle;
}

/*.upload-drop-zone.file-button a, .upload-drop-zone.file-button input {*/
  /*position: absolute;*/
  /*width: 100%;*/
/*}*/

.file-button {
  line-height: 200px;
}

.file-button input {
  display: inline-block;
  vertical-align: middle;
}

.file-actions {
  text-align: left;
}

.file-footer-buttons {
  float: right;
}

.file-thumbnail-footer .file-caption-name {
  padding-top:4px;
  font-size: 11px;
  color: #777;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #ccc;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #ccc;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #ccc;
}

.banner-bg {
  width: 100%;
  background-color: #000;
  height: 280px;
  position: relative;
}

.banner-bg-img {
  background-size: 100%, 280px;
  width: 100%;
  height: 280px;
  background-position: center;

   /*Make the background image cover the area of the <div>, and clip the excess */
}

.member-header-info {
  overflow: auto;
  padding-bottom: 24px;
  position: relative;
  top: -60px;
  margin-bottom: -48px;
  float: right;
}

.member-avatar {
  float: right;
  position: relative;
}

.member-info {
  float: right;
  margin-right: 7px;
  /*margin-left: 250px;*/
}

.member-info h2{
  margin-top: 20px;
  color: white;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}

.projectDisplay {
  width: 280px;
  height: 280px;
  float: left;
  margin: 0 0 20px 20px;
  padding: 0 0 8px;
  position: relative;
  background: rgb(240,240,240);
  border-radius: 5px;
}

.dropdown-menu li {
  font-family: apex-book, sans-serif;
  font-size: 2rem;
}

.changeCover-dialog .modal-dialog {
  max-width :400px;
}

.file-thumbnail-footer .file-caption-name {
  padding-top: 7px;
  padding-left: 7px;
  font-size: 1.5rem;
  color: #777;
}

.post-project {
  min-width: 1400px;
}

.project-img-box {
  overflow: hidden;
  position: relative;
}

.project-img-box .project-img {
  width: 100%;
  height: 210px;
  margin-top: 10px;
}

.project-img-box .project-text {
  /*background-color: rgba(0, 0, 0, 0.75);*/
  /*32cd32*/
  background-color: rgba(240, 240, 240, 0.75);
  bottom: -41px;
  /*color: #FFFFFF;*/
  display: block;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  height: 70px;
}

.project-img-box .project-text .project-title {
  font-size: 16px;
  font-weight: bold;
}


