html {
  overflow-y: scroll;
}

body {
  margin-top: 70px;
}

@media (max-width: 980px) {
  body {
    padding-top: 0;
  }
}
.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.checkbox {
  margin-top: -20px;
  margin-bottom: 10px;
}

.checkbox span {
  margin-left: 20px;
  /*margin-bottom: -10px;*/
  font-weight: normal;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  font-family: "Clear Sans";
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  /*color: rgb(180,227,145);*/
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#error_explanation {
  color: #f00;
}

#error_explanation.ul {
  list-style: none;
  margin: 0 0 18px 0;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

aside section {
  padding: 10px 0;
  border-top: 1px solid #eaeaea;
}

aside section:first-child {
  border: 0;
  padding-top: 0;
}

aside section span {
  display: block;
  margin-bottom: 3px;
  line-height: 1;
}

aside section h1 {
  font-size: 1.4em;
  text-align: left;
  letter-spacing: -1px;
  margin-bottom: 3px;
  margin-top: 0px;
}


