<div class="center jumbotron">
  <div>
    <h1>Welcome to Koodo Hub.</h1>
    <h2>Level up your skills, share your awesome projects and meet friends</h2>
    <!--<div class="btn btn-lg btn-primary"><a href="#/sign_up">Sign up now!</a></div>-->
    <button class="btn btn-lg btn-primary" ng-click="openSignIn()">Sign In</button>

    <button class="btn btn-lg btn-primary" ng-click="openSignUp()">Get started!</button>

    <!--<div modal="showSignUpModal" close="cancelSignUp()">-->
      <!--<div class="modal-header">-->
        <!--<h4>Sign Up</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--<div class="row" close="closeSignUp()">-->
          <!--<div class="col-md-6 col-md-offset-3">-->
            <!--<form ng-submit="signup()">-->
              <!--<div class="form-group">-->
                <!--<label>Full name</label>-->
                <!--<input type="text" ng-model="user.fullname" ng-required="true" class="form-control"/>-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<label>Email address</label>-->
                <!--<input type="text" ng-model="user.email" ng-required="true" class="form-control"/>-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<label>Create a password</label>-->
                <!--<input type="password" ng-model="user.password" ng-required="true" class="form-control"/>-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<label>Choose your username</label>-->
                <!--<input type="text" ng-model="user.username" ng-required="true" class="form-control"/>-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<input type="submit" value="Create my account" class="btn btn-primary"/>-->
              <!--</div>-->
            <!--</form>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash;&ndash;&gt;-->
      <!--&lt;!&ndash;&ndash;&gt;-->

      <!--&lt;!&ndash;<div class="modal-body">&ndash;&gt;-->
        <!--&lt;!&ndash;<p>Example paragraph with some text.</p>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="modal-footer">&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="btn btn-success" ng-click="ok()">Okay</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="btn" ng-click="cancel()">Cancel</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->

  </div>
</div>