<div ng-if="authenticated === true">
  <div ng-include="'partials/member_home.html'"></div>
</div>
<div class="alert alert-info" ng-show="message">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  {{message}}</div>
<div ng-if="authenticated === false">
  <div class="center jumbotron">
    <div>
      <h1>Welcome to Koodo Hub</h1>
      <h2>where kids watch, do, share projects and meet friends</h2>
      <button class="btn btn-lg btn-primary" ng-click="openSignUp()">Sign up!</button>
    </div>
  </div>
</div>