<div ng-include="'partials/member_home_header.html'">
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div ng-init="userProjects()">
      <div ng-repeat="project in displayProjects" >
        <div class="col-md-4 projectDisplay">
          <hover-project-image>
            <a href="#/project/{{project.id}}">
              <div class="project-img-box">
                <div class="project-img">
                  <project-image src="{{project.projectImage}}"></project-image>
                </div>
                <div class="project-text">
                  <div class="project-title">
                  {{project.title}}
                  </div>
                  <p>
                    {{project.description}}
                  </p>
                </div>
              </div>
            </a>
          </hover-project-image>
          <div class="file-thumbnail-footer">
            <div class="file-caption-name">
              <img ng-src="{{project.user.avatarLink}}" height="50" width="50" class="img-rounded"/>
              {{project.user.username}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
