<div class="banner-bg" ng-click="changeCover()">
  <div style="background-image: url({{user.coverLink}}); background-size:100% 240px;" class="banner-bg-img">
    <div class="container-fluid">
      <div class="col-md-6 col-md-offset-3">
        <br>
        <div class="alert alert-info" ng-show="message">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          {{message}}</div>
        <alert type="danger" ng-show="errors">
          <div ng-repeat="error in errors">{{error}}</div>
        </alert>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="member-header-info">
      <div class="member-avatar" ng-click="changeAvatar()">
        <img ng-src="{{user.avatarLink}}" class="img-rounded member-avatar-img"/>
      </div>
      <div class="member-info">
        <!--<section>-->
        <h2>{{user.fullname}}</h2>
        <!--</section>-->
      </div>
      <div class="member-info">
        <section>
          <div class="stats">
            <a href="#">
              <strong id="projects">
                {{portfolioProjects.length}}
              </strong>
              projects
            </a>
            <a href="#">
              <strong id="following">
                {{user.followings.length}}
              </strong>
              following
            </a>
            <a href="#">
              <strong id="followers">
                {{user.followers.length}}
              </strong>
              followers
            </a>
          </div>
        </section>
      </div>

    </div>
  </div>
</div>