<div class="banner-bg">
  <div style="background-image: url({{member.coverLink}}); background-size:100% 240px;" class="banner-bg-img">
    <div class="container-fluid">
      <div class="col-md-6 col-md-offset-3">
        <br>
        <div class="alert alert-info" ng-show="message">
          {{message}}</div>
        <alert type="danger" ng-show="errors">
          <div ng-repeat="error in errors">{{error}}</div>
        </alert>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="member-header-info">
      <div class="member-avatar">
        <img ng-src="{{member.avatarLink}}" height="140" width="auto"
             max-width="180" class="img-rounded"/>
      </div>
      <div class="member-info">
        <!--<section>-->
          <h2>{{member.fullname}}</h2>
          <following-button/>
        <!--</section>-->
      </div>
      <div class="member-info">
        <section>
          <div class="stats">
            <a href="#">
              <strong id="projects">
                {{displayProjects.length}}
              </strong>
              projects
            </a>
            <a href="#">
              <strong id="following">
                {{member.followings.length}}
              </strong>
              following
            </a>
            <a href="#">
              <strong id="followers">
                {{member.followers.length}}
              </strong>
              followers
            </a>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div>
      <div ng-repeat="project in displayProjects" >
        <div class="col-md-4 projectDisplay">
          <hover-project-image>
            <a href="#/project/{{project.id}}">
              <div class="project-img-box">
                <div class="project-img">
                  <project-image src="{{project.projectImage}}"></project-image>
                </div>
                <div class="project-text">
                  <div class="project-title">
                    {{project.title}}
                  </div>
                  <p>
                    {{project.description}}
                  </p>
                </div>
              </div>
            </a>
          </hover-project-image>
          <div class="file-thumbnail-footer">
            <div class="file-caption-name">
              {{project.createdOn}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>