<alert type="danger" ng-show="errors">
  <div ng-repeat="error in errors">{{error}}</div>
</alert>
<div ng-include="'partials/member_home_header.html'"></div>
<div class="container-fluid">
<div class="row-fluid">
<div class="col-md-10 col-lg-offset-1">

<div ng-controller="NewProjectController">
  <form ng-submit="postNewProject()">
    <div class="form-group">
      <label>Title:</label>
      <input type="text" ng-model="title" ng-required="true"
             placeholder="Give a title in a few exciting words" class="form-control"/>
    </div>
    <div class="form_group">
      <div class="upload-drop-zone">
        <div class="row">
          <div ng-file-drop id="drop-zone" class="drop-box"
               drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ng-model="new_files"
               ng-multiple="true" allow-dir="true" accept="image/*,video/*" ng-file-change="addFiles(new_files)">
            <div class="thumbnail">
              <dynamic-preview/>
            </div>
            <div class="file-button" ng-show="project_files.length===0" ng-file-select ng-model="new_files" ng-required="true"
                 ng-multiple="true" allow-dir="true" accept="image/*,video/*" ng-file-change="addFiles(new_files)">
              <span class="glyphicon glyphicon-camera"></span>
              <span class="glyphicon glyphicon-facetime-video"></span>
              <span>Load up to 7 images/videos here</span>
            </div>
          </div>
        </div>
      </div>
      <alert type="danger" ng-show="project_files.length>7">Could only upload maximum 7 files.
        Remove some files before posting your project.</alert>
    </div>
    <br>
    <div class="form-group">
      <textarea id="micropost_content"
                class="form-control"
                maxlength="255"
                ng-trim="false"
                placeholder="If you like to, introduce project in less than 255 characters here."
                ng-model="description"
                ng-required="true" rows="5"
                ng-keyup="remaining=(255-description.length)"
                ng-init="remaining=255"></textarea>
      <alert type="warning" ng-show="remaining<50">Approaching 255 characters limit. {{remaining}}</alert>
    </div>
    <div class="form-group">
      <input type="submit" value="Post" class="btn btn-primary"/>
    </div>
  </form>
</div>
</div>
</div>
</div>